<main>
    @if(isLoggedIn()){
        <div class="bejeli">
            <div class="wrapper">
                <h2>Személyes adatok</h2>
                    <hr>
                <div class="szokoz">
                    <form [formGroup]="profilForm" (ngSubmit)="updateProfile()" >
                        <mat-form-field appearance="outline">
                            <mat-label>Vezetéknév</mat-label>
                            <input matInput type="text" formControlName="vezeteknev"/>
                            @if(UresVezeteknev){
                                <mat-error>Kérjük adja meg a vezetéknevét!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Keresztnév</mat-label>
                            <input matInput type="text" formControlName="keresztnev"/>
                            @if(UresKeresztnev){
                                <mat-error>Kérjük adja meg a keresztnevét!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>E-mail cím</mat-label>
                            <input matInput type="email" formControlName="emailcim" />
                            @if(UresEmail){
                                <mat-error>Ez az email cím már foglalt!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Telefonszám</mat-label>
                            <input matInput type="text" formControlName="telefonszam" />
                        </mat-form-field>
                        <div class="gomb">
                            <button mat-flat-button style="background-color: grey;">Módosítás</button>
                        </div>
                    </form>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    Jelszó módosítása <button mat-flat-button (click)="updatePassword()">Módosítás</button>
                                </div>
                            </h3>
                        </div>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    @if(getHirlevelsub()){
                                        Hírlevélre feliratkozva<button mat-flat-button (click)="HirlevelEltavolit()">Eltávolítás</button>
                                    }@else {
                                        Hírlevél feliratkozás<button mat-flat-button (click)="HirlevelHozzaad()">Feliratkozás</button>
                                    }
                                </div>
                            </h3>
                        </div>
                        <hr>
                        <div class="szallitasi-adatok">
                            <h3>
                                <div class="hirlevel-container">
                                    @if(getSzallitasiAdatok() !== ''){
                                        Szállítási adatok <button mat-flat-button (click)="SzallitasEltavolit()">Eltávolítás</button>
                                        <p>{{getSzallitasiAdatok()}} Szeged 6700</p>
                                        <br>
                                    }@else {
                                        Szállítási adatok <button mat-flat-button (click)="SzallitasHozzaad()">Hozzáadás</button>
                                        <p>Még nincs megadva szállítási adat!</p>
                                        <br>
                                    }
                                </div>
                            </h3>
                        </div>
                        <div class="szallitasi-adatok">
                            <!--<h3>Fizetési adatok<?php if($user["fizetesi_adatok"] != NULL):?><a href="php/fizetes_eltavolitas.php"><i class="fa-solid fa-minus"></i></a><?php else: ?><a href="fizetes_hozzadas.php"><i class="fa-solid fa-plus"></i></a><?php endif; ?></h3>
                            <?php if($user["fizetesi_adatok"]): ?>
                                <p>Utánvét (készpénzzel)</p>
                                <br>
                            <?php else: ?>
                                <p>Még nincs megadva fizetési adat!</p>
                                <br>
                            <?php endif; ?>-->
                        </div>
                        <hr>
                        <div class="kijelentkezes">
                            <button class="kijelibutton" mat-flat-button (click)="kijelentkezes()">Kijelentkezés</button>
                            <!--@if(!isAdmin()){
                                <button class="kijelibutton" mat-flat-button (click)="deleteAccount()">Fiók törlése</button>
                        }-->
                        </div>
                </div>
            </div>
        </div>
    }
    @else {
        <div class="hibasvalami">
            <div class="azthiszemez">
                <h2>Hoppáré!</h2>
                <p>Hogyha meg szeretnéd tekinteni a fiókod, akkor jelentkezzen be!</p>
                <br>
                <a href="bejelentkezes.php">Kattints ide a bejelentkezéshez!</a>
            </div>
        </div>
    }
</main>