<main>
    @if(isLoggedIn()){
        <div class="hibasvalami">
            <div class="azthiszemez">
                <h2>Készül!</h2>
                <p>A következő mérföldkőben már működni fog!</p>
                <br>
                <a mat-list-module routerLink="/fomenu" routerLinkActive="activate-list-item">Kattints ide a főoldalhoz</a>   
            </div>
        </div>
    }@else {
        <div class="hibasvalami">
            <div class="azthiszemez">
                <h2>Ezt hoooogy??!?</h2>
                <p>Nem tudom, hogy hogyan találtad meg ezt az oldalt, de még nincsen kész és kérlek jelentkezz be!</p>
                <br>
                <a mat-list-module routerLink="/bejelentkezes" routerLinkActive="activate-list-item">Kattints ide a bejelentkezéshez!</a>   
            </div>
        </div>
    }
    
</main>