.azthiszemez {
    width: 330px;
    padding: 2rem 1rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #003366;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}
.azthiszemez a{
    color: white;
    text-decoration: none;
}
.azthiszemez a:hover{
    text-decoration: underline;
}
.azthiszemez ::placeholder{
    font-family: 'Montserrat', sans-serif;
}
.azthiszemez h2{
    font-size: 2rem;
    color: #ff9966;
    margin-bottom: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    text-align: center;
}
.azthiszemez p{
    font-size: 1rem;
    color: white;
    margin-bottom: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
@media(max-width: 768px){
    .azthiszemez{
        margin-top: 0;
    }
    .hibasvalami{
        padding-top: 184px;
    }
}