<main class="igazolas-main">
    <section class="szekcio">
      <div class="validate-bracket">
        <h1>Elmúltál már 18 éves?</h1>
        <br>
        <h2>Az SZTE Italker Zrt. meg akar győződni arról, hogy minden felhasználó, aki az oldalra látogat legalább elmúlt 18 éves. A szeszes italok fogyasztását 18 éves aluliaknak nem ajánljuk!</h2>
        <button class="gombi" mat-flat-button (click)="navigateToHome()">Igen</button>
        <button class="gombi" mat-flat-button (click)="openYoutubeVideo()">Nem</button>
      </div>
    </section>
  </main>

