@use '@angular/material' as mat;

app-igazolas{
    @include mat.button-overrides((
        filled-container-color: #ff9966,
        filled-label-text-color: #000000
    ));
}
app-root{
    @include mat.form-field-overrides((
        filled-container-color: transparent,
        filled-hover-active-indicator-color: transparent
    ));
}

html, body{
    margin: auto;
    padding: auto;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}




