@use '@angular/material' as mat;

app-igazolas{
    @include mat.button-overrides((
        filled-container-color: #ff9966,
        filled-label-text-color: #000000
    ));
}
app-root{
    @include mat.form-field-overrides((
        outlined-caret-color: white,
        outlined-focus-outline-color: white,
        outlined-focus-label-text-color: white,
        outlined-label-text-font: 'Montserrat',
        outlined-outline-color: white,
        outlined-hover-outline-color: white,
        outlined-outline-width: 3px,
        outlined-focus-outline-width: 3px,

    ));
    mat-form-field .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
    mat-form-field .mat-mdc-form-field-flex{
        background-color: transparent;
    }
    mat-form-field .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
        height: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    mat-form-field .mat-mdc-form-field-icon-suffix{
        padding-left: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .keresogomb mat-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
app-bejelentkezes{
    @include mat.form-field-overrides((
        outlined-caret-color: white,
        outlined-focus-outline-color: white,
        outlined-focus-label-text-color: white,
        outlined-label-text-font: 'Montserrat',
        outlined-outline-color: white,
        outlined-hover-outline-color: white,
        outlined-outline-width: 3px,
        outlined-focus-outline-width: 3px,
        outlined-label-text-size: 14px,
        outlined-error-outline-color: red,
        outlined-error-label-text-color: red,
        outlined-error-hover-outline-color: white,
        outlined-error-focus-label-text-color: white,
        outlined-error-hover-label-text-color: white,
        outlined-error-focus-outline-color: white
        

    ));
    
}
app-profil{
    @include mat.form-field-overrides((
        outlined-caret-color: white,
        outlined-focus-outline-color: white,
        outlined-focus-label-text-color: white,
        outlined-label-text-font: 'Montserrat',
        outlined-outline-color: white,
        outlined-hover-outline-color: white,
        outlined-outline-width: 3px,
        outlined-focus-outline-width: 3px,
        outlined-label-text-size: 14px,
        outlined-error-outline-color: red,
        outlined-error-label-text-color: red,
        outlined-error-hover-outline-color: white,
        outlined-error-focus-label-text-color: white,
        outlined-error-hover-label-text-color: white,
        outlined-error-focus-outline-color: white
        

    ));
    @include mat.button-overrides((
        filled-container-color: #ff9966,
        filled-label-text-color: white
    ));
}


html, body{
    margin: auto;
    padding: auto;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}




