body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  /* kep */
  .johely{
    display: flex;
    justify-content: 25%;
    align-items: 25%;
  }
  .johely a{
    padding: 0;
    margin: 0;
  }
  .header-kozepen{
    height: 134px;
  
  }
  .header-valami{
    padding: 10px 15px 0 15px;
    margin: 0 70px 0 70px;
    height: 124px;
  }
  .header-kozep-sor{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
  }
  .header-ul a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    color: white;
    text-align: center;
    justify-content: center;
  }
  .header-ul a:hover{
    color: #ff9966;
    transition: 0.3s;
  }
  
  .header-og{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    
  }
  .header-og a{
    padding: 20px 0 20px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
  }
  .header-og a:hover{
    padding: 20px 0 20px 0;
    color: black;
    
  
  }
  .header-ul > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-button-container mat-icon{
    color:white;
    transition: 0.3s;
    text-decoration: none;
  }
  .menu-button-container mat-icon:hover{
    color: #ff9966;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .top-nav2{
    display: none;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .akcios{
    color: black;
    padding-bottom: 10px;
  }
  .header-kozepen .header-valami .header-kozep-sor .logo-header .mobil-logo{
    display: none;
  
  }
  
  @media (max-width: 768px) {
    .header-kozepen .header-valami .header-kozep-sor .login-header{
      display: none;
    }
    .header-kozepen .header-valami .header-kozep-sor .cart-header{
      display: none;
    }
    .menu-button-container {
      display: flex;
    }
    .header-ul {
      position:absolute;
      top: 0;
      margin-top: 134px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      
      
    }
    #menu-toggle ~ .header-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      
    }
    #menu-toggle:checked ~ .header-ul li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .header-ul > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
      
      
      
    }
    .header-ul > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    #top-nav {
      display: none;
    }
    .top-nav2{
      display: flex;
      flex: 1;
      justify-content: center;
    }
    .header-valami{
      text-align: center;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
  
    }
    
    
    .logo-header img{
      height: 10px;
      
    }
    header{
      position: fixed;
      width: 100%;
      margin-top: 0;
      z-index: 1000;
    }
    .header-kozepen .header-valami .header-kozep-sor .logo-header .mobil-logo{
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
      
      
    }
    .header-kozepen .header-valami .header-kozep-sor .logo-header{
      flex: 1.5;
      display: flex;
      justify-content: center;
    }
    .header-kozepen .header-valami .header-kozep-sor .logo-header .full-size{
      display: none;
    }
    
  }
  
  
  p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
    margin: 0;
    text-align: left;
  }
  header{
    background-color: #003366;  
  }
  
  .header-kategoriak{
    margin: 0 85px 0 85px;
  }
  .hamburger-kategoriak{
    margin: 0;
  
  }
  .hamburger-kategoriak i{
    color: white;
    font-size: 24px;
    transition: 0.3s;
  }
  .hamburger-kategoriak i:hover{
    color: #ff9966;
    
  }
  .header-kategoriak-kozepen{
    background-color: #ff9966;
    text-align: center
    
  }
  
  .logo-header{
    flex: 1.5;
    display: flex;
  
    justify-content: left;
    
  }
  
  .logo-header img{
    height: 100px;
  }
  .searching-bar{
    justify-content: center;
    display: flex;
    flex: 1.9;
    
    
  }
  .szallitas_select{
    display: flex;
      flex-direction: column;
      width: 300px;
      outline: none;
      border: 1px solid #fff;
      padding: 6px 10px;
      margin-bottom: 15px;
      margin-top: 15px;
      border-radius: 20px;
      background: #e4e4e4;
      font-family: 'Montserrat', sans-serif;
  }
  .form-search{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0); 
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); 
    outline: none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    max-width: 100%;
    width: 100%;
  }
  /*.searching-bar .form-search .mat-form-field-wrapper {
    padding: 0;
  }
  .searching-bar .form-search .mat-form-field-flex{
    align-items: center;
  }*/

  .searching-bar .form-search input[type="search"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    background: transparent;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    outline: none;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .searching-bar .form-search button{
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .searching-bar .form-search button mat-icon {
    color: white;
    font-size: 18px;
  }
  .no-result{
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ff9966;
  }
  
  .large-icon{
    font-size: 45px;
    width: 45px;
    height: 45px;
  }
  .login-header{
    flex: 0.3;
    justify-content: right;
    display: flex;
  }
  .login-header a{
    color:white;
    transition: 0.3s;
    text-decoration: none;
  }
  .login-header a:hover{
    color: #ff9966;
  }
  .cart-header{
    flex: 0.3;
    justify-content: right;
    display: flex;
  }
  .cart-header a{
    color:white;
    transition: 0.3s;
    text-decoration: none;
    font-size: 30px;
  }
  .cart-header a:hover{
    color: #ff9966;
  }
  #product-list {
    list-style-type: none;
    padding: 0;
  }
  #product-list li {
    margin-bottom: 5px;
  }
  .google-map{
    width: 100px;
    height: 100px;
    border: 0;
    margin: 0;
  }
  .footer{
    background-color: #003366;
    box-sizing: border-box;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 70px;
    
    
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-container .row .footer-bal h2{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    
}
.footer .footer-container .row .footer-kozep h2{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    
}
.footer .footer-container .row .footer-jobb h2{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    
}
.footer .footer-container .row .footer-bal li{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.footer .footer-container .row .footer-bal li a{
    color: white;
    text-decoration: none;
}
.footer .footer-container .row .footer-bal li a:hover{
    text-decoration: underline;
}
.telefonos{
    color: #ff9966;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    
}
.footer .footer-container .row .footer-kozep li{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    padding-bottom: 10px;
}
.alahuzas{
    text-decoration: underline;
}
.footer-container{
    margin-left: 85px;
    margin-right: 85px;
}
.footer .footer-container .row .footer-bal ul{
    list-style: none;
    padding: 0;
}
.footer .footer-container .row .footer-kozep ul{
    list-style: none;
    padding: 0;
}
.footer .footer-container .row .footer-kozep ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.footer .footer-container .row .footer-jobb ul{
    list-style: none;
    padding: 0;
}

.footer-kozep{
    width: 327px;
}
.footer-jobb{
    text-align: left;
}
@media (max-width: 768px){
    .footer .footer-container .row .footer-jobb iframe{
        width: 240px;
    }
}
@media (max-width: 320px){
    .footer .footer-container .row .footer-jobb iframe{
        width: 150px;
    }
}