<main class="koktelok">
    <div class="receptek-bevezeto">
        <h1>Koktél receptek</h1>
        <p>Üdvözöljük az oldalon, ahol egyszerű és haladó koktél receptek, valamint az oldal szertesztőinek, illetve a gyakorlat vezetőinek kedvencei egyaránt megtalálhatóak! Ha szeretne kiváló long drink koktélokat készíteni, vagy esetleg valami menő vodka alapú italra vágyik, akkor jó helyen jár! Otthon is könnyedén elkészítheti az álmai italát. <br> Böngésszen az oldalon, ahol az egyes cikkekben részletesen megtalálja az italok pontos elkészítésének menetét. Készüljön fel arra, hogy lenyűgözze barátait és családját saját készítésű koktélokkal! Kezdje most az ital kalandot, és fedezze fel a világ ízeit az otthonában!</p>
     </div>
     <div class="akoktel">
        <div class="rovidleiras">
            <h2>Porn Star Martini</h2>
            <hr>
            <p>Ez egy újabb keletű ital, a kétezres évek elején ütötte fel a fejét Londonban, de azóta a szórakozó közönség és prémium koktélokra vágyók egyik nagy kedvence lett. Tökéletes azok számára, akik egy gyümölcsös és pezsgő italra vágynak, vagy akik szeretik megmutatni magukat egy bárban a közönségnek.</p>   
        </div>
     <div class="hozzavalok">
        <h3>Hozzávalók</h3>
        <nav>
            <ul>
                <li>5 cl Vodka (vaníliás)</li>
                <li>2 cl Passion Fruit likőr</li>
                <li>1,5 cl Vanília szirup</li>
                <li>1 cl Maracuja szirup</li>
                <li>1,5 cl Friss lime leve</li>
                <li>6 cl Száraz pezsgő</li>
            </ul>
        </nav>
    </div>
        <div class="elkeszites">
            <p>Az összetevőket (a pezsgő kivételével) jéggel teli shakerbe helyezzük, és erősen összerázzuk.
                Egy előrehűtött martini pohárba, duplán szűrjük és külön egy shot-os pohárba szervírozzuk a pezsgőt. <br> 
                Egy másik variációban (ha megfelelő űrmértékű a martinis pohár) ráönthetjük a leszűrt italra a pezsgőt.
                (A maracuja szirup helyett használhatunk friss gyümölcsöt!)
                Díszítésként használhatunk kisebb, félbevágott maracuját.</p>
        </div>
    </div>
    <div class="akoktel">
        <div class="rovidleiras">
   
            <h2>Zombie</h2>
            <hr>
            <p>A legenda úgy tartja, hogy egy polinéz bárba egy korán reggel betérő üzletember a bártender segítségét kérte, ugyanis rettentően másnapos volt és egy üzleti megbeszélésre sietett. A bártender ott helyben ötlötte ki ezt a szükség szülte koktélt. 
                A vendég elfogyasztotta, és útjára indult. Majd 2 nap múlva megjelent a bárpultnál, és leteremtette a pultost, hogy egész nap úgy érezte magát mint egy zombi… Meg is lett a név!</p>        
        </div>
     <div class="hozzavalok">
        <h3>Hozzávalók</h3>
        <nav>
            <ul>
                <li>2,5 cl Fehér rum </li>
                <li>2,5 cl Navy rum</li> 
                <li>2,5 cl Arany rum</li> 
                <li>1,5 cl Sárgabarack likőr</li> 
                <li>1,5 cl Narancs likőr</li>   
                <li>7 cl Friss narancslé</li>   
                <li>7 cl Friss ananászlé</li>  
                <li> 3 cl Friss citromlé</li> 
                <li>1,5 cl Grenadin</li>   
                <li>1,5 cl Fehér Overproof rum</li>    
            
            </ul>
        </nav>
    </div>
        <div class="elkeszites">
            <p>Az utolsó összetevő kivételével a többit egy shakerben összerázzuk, és egy jéggel teli hurrikán pohárba szűrjük. Díszítésként ananász szeletet és koktél cseresznyét használjunk.</p>
        </div>
    </div>
</main>